# ===== RAG Core Dependencies =====

# LangChain ecosystem
langchain==0.3.25
langchain-google-genai==2.1.5
langchain-community==0.3.24
langchain-qdrant==0.2.0
langchain-huggingface==0.2.0

# Local Embedding
sentence-transformers==4.1.0

# Vector Database
qdrant-client==1.14.2

# PDF / Document Parsing
docling
torch
pymupdf==1.25.5
pymupdf4llm
pdfplumber
# Text Splitting
langchain-text-splitters

# Vietnamese Word Segmentation
pyvi

# Environment management
python-dotenv==1.1.0

